<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='icons/favicon.png') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta charset="utf-8"/>
    <title>SafeDisplay</title>
</head>
<body>
    <div class="main-grid">
        <div class="item-1">
            <img src="{{ url_for('static',filename='icons/icon.png') }}" class="logo">
        </div>
        <div class="item-2">
                <img src="{{ url_for('video_feed') }}" class="livefeed">
        </div>
    </div>
</body>
</html>